@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Shadow', 'verdana';
    color: #fff;

}

body
{
  background-color: #244a5a;
}

h1
{
  font-size: 60px;
}

h2
{
  font-size: 40px;
}

h1, h2
{
    text-align: center; 
}

div#pedra, div#papel, div#tesoura
{
  border-radius:100%;
  background-color: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;  
  }

.escolhas
{
  width: 1000px;
  margin-top: 20px;
  position: relative;
  left: 0%;
  transform: translate(26.5%);
  display: flex;

}

.buttonPlay{
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  height: 35px;
  width: 100px;
  color: black;
  font-size: 25px;
}

#resultado{
  font-size: 30px;
  text-align: center;
}